body,p,h1,h2,h3,h4,h5,h6,div,span,header,footer,img,a,a:hover,a:active,a:visited,table,tr,td,th,form,input,button,select,textarea{
    line-height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    color: #1a1a1a;
    border-width: 0;
  }
  
  .clear{
    float: none;
    width: 100%;
    height: 1px;
  }
  
  /* Main color palette */
  .header{
    background-color: #fff;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #fff;
    box-shadow: 0 -25px 11px 20px #000;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:10vh;
    min-height:70px;
    left: 0;
    width: 100%;
    z-index: 10;
  }
  .wrap {
    min-height: 100vh;
    width:100%;
  }
  
  .landing {
    height:100vh;
    width:100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('/public/movieCollage.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .landing::after {
    content:'';
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    position: absolute;
    background: rgba(0,0,0,.4);
  }
  .landingText {
    font-size: 50px;
    font-family: sans-serif;
    color:#FFE212;
    text-shadow: 0px 5px 10px black;
    user-select: none;
    z-index:80;
  }
  .dashboard {
    margin-top: 10vh;
    font-size:50px;
    height:90vh;
    width:100%;
    background: lightblue;
  }
  .fofo {
    margin-top: 83px;
    font-size:50px;
  }
  /*////////////////////////////////////////////*/
  #mobileNavBtn {
    height:30px;
    width:30px;
    background: url('/public/bars-solid.svg');
    background-position: center;
    background-size: 28px 28px;
    background-repeat: no-repeat;
    right: 20px;
    top: 10px;
    position: fixed;
    display: none;
    z-index: 120;
  }
  #mobileNavBg {
    position:fixed;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.7);
    z-index: 100;
    width:100%;
    height:100vh;
    display:none;
  }
  #mobileNavModal{
    z-index: 110;

  }
  #mobileNavModal ul{
    list-style-type: none;
    text-align: center;
    padding: 0;
  }
  
  #mobileNavModal ul li{
    display: block;
    margin-bottom: 60px;
    color:white;
  }
  
  #mobileNavModal ul li a{
    text-transform: uppercase;
    font-weight: 900 !important;
    font-size: 15px;
    color:white;
  }
  
  #mobileNavModal ul li.loggedIn{
    display: none;
  }
  
  body.loggedIn #mobileNavModal ul li.loggedIn{
    display: block;
  }
  
  body.loggedIn #mobileNavModal ul li.loggedOut{
    display: none;
  }
  
  /*////////////////////////////////////*/
  .header ul{
    list-style-type: none;
    text-align: right;
    padding: 0 75px;
    float: right;
  }
  
  .header ul li{
    display: inline-block;
    padding: 10px 10px 10px 10px;
  }
  
  .header ul li a{
    text-transform: uppercase;
    font-weight: 900 !important;
    font-size: 11px;
  }
  
  .header ul li.loggedIn{
    display: none;
  }
  
  body.loggedIn .header ul li.loggedIn{
    display: inline-block;
  }
  
  body.loggedIn .header ul li.loggedOut{
    display: none;
  }
  
  .header .logo{
    text-align: left;
    padding: 0 0 0 90px;
    float: left;
  }
  
  .header .logo img{
      width: 50px;
  }
  
  .content {
    margin-top: 150px;
    width: 1000px;
    margin: 150px auto;
  }
  
  .footer{
    width: 100%;
    background-color: #1a1a1a;
    padding: 50px 0;
    text-align: center;

  }
  
  .footer .copyright{
    color: #fff;
    font-size: 10px;
  }
  
  /* Index */
  h1{
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 0 5px 0;
  }
  
  h2{
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 0 20px 0;
  }
  
  body.index .blurb{
    text-align: center;
    background-color: #ececec;
    border-color: #b3b3b3;
    border-style: dotted;
    border-width: 1px;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto 20px auto;
    max-width: 500px;
    line-height: 150%;
    font-size: 14px;
  }
  
  .ctaWrapper{
    text-align: center;
  }
  
  .cta,a.cta:hover,a.cta:active,a.cta:visited,button.cta:hover,button.cta:active,button.cta:visited{
    background-color: #1a1a1a;
    color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    padding: 15px;
    width: 150px;
    cursor: pointer;
    outline: none;
  }
  
  .cta.blue{
    background-color: #214478 !important;
  }
  
  .cta.green{
    background-color: #F5A515!important;
  }
  
  .cta.red{
    background-color: #c83737 !important;
  }
  
  .warning{
    font-style: italic;
    color: #c83737;
    font-size: 17px;
    text-align: center;
    line-height: 150%;
    padding: 0 0 20px 0 ;
  }
  
  /* Form Styling for Account Creation page and others */
  .formWrapper{
    width:100%;
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
  }
  #accountCreate {
    margin-top: -100px;
     width:50%;
  }
  .formError{
    display: none;
    background-color: #c83737;
    font-style: italic;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 0 0 15px 0;
    text-align: center;
    border-color: #d87070;
    border-width: 2px;
    border-style: solid;
  }
  
  .formSuccess{
    display: none;
    background-color: #217844;
    font-style: italic;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 0 0 15px 0;
    text-align: center;
    border-color: #35c06d;
    border-width: 2px;
    border-style: solid;
  }
  
  hr {
    margin: 30px 0;
  }
  
  input,select,option {
    border:none;
    border-bottom: 1px solid black;
    outline:none;
    padding: 7px 1%;
    width: 100%;
  }
  
  .checkboxGroup input{
    display: inline-block;
    width: initial;
    margin: 20px;
  }
  
  input.disabled{
    background-color: #efefef;
  }
  
  .inputWrapper{
    padding: 0 0 20px 0;
  }
  
  .inputLabel{
    padding: 0 0 5px 0;
    color: #808080;
  }
  
  .backButton{
    text-transform: uppercase;
    font-weight: bold !important;
    display: inline-block !important;
    width: 100px;
    padding: 7px !important;
    color: #fff !important;
    background-color: #1a1a1a;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
  }
  
  table{
    width: 100%;
  }
  
  tr{
    width: 100%;
  }
  
  th{
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    border-color: #000;
    border-style: dotted;
    padding: 10px;
    margin: 0 0 10px 0;
    background-color: #efefef;
  }
  
  td{
    padding: 5px;
  }
  
  td a, td a:hover, td a:active{
    color: #2e5fa8;
    text-decoration: underline;
    cursor: pointer;
  }
  
 /*///////////////////////////////////////account/////////////////////////////////////////*/
 .account {
   min-height: 90vh;
   display: flex;
   align-content: center;
   margin-top: 10vh;
   font-size: 50px;
    justify-content: center;
    background: black;
 }
  #settingsWrap {
    width: 90%;
    background-color: black;
    display:flex;
  }
  #accMenu {
    width:300px;
    height:90vh;
    background-color: #F8C526;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #accInputs {
    width:400px;
    padding-top: 20px;
  }
  .accInput {
    background: transparent !important;
    border-bottom: 2px solid white !important;
    width:70%;
    margin:20px;
    color:white;
    font-family: sans-serif;
    font-size: 17px;
  }
  .accSetInputWrap {
    display:none;
    align-items: center;
  }
  #confirmDeleteModal {
    position: fixed;
    display:none;
    height:100vh;
    width:100%;
    left:0px;
    text-align: center;
    top:0px;
    background: rgba(0,0,0,.6);
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  #confirmModal {
    position: fixed;
    display:none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height:100vh;
    width:100%;
    left:0px;
    top:0px;
    background: rgba(0,0,0,.6);
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  .modal {
    background: white;
    height:100px;
    width:320px;
    border-radius: 5px;
    
    font-family: sans-serif;
    font-size: 15px;
  }
  #modalBtnAligner {
    display: flex;
    width:100%;
    justify-content: center;
  }
  .modalDecision {
    margin:20px;
    height:50px;
    width:50px;
    font-family: sans-serif;
    font-size: 20px;
    border:2px solid black;
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 50px;
    cursor: pointer;
  }
  .modalDecision:hover {
    background: #F5A515;
  }
  .accBtnChange {
    padding:10px;
    border-radius: 2px;
    font-family: sans-serif;
    color:white;
    cursor: pointer;
    background: #35c06d;
  }
  .accMenuBtn {
    margin:20px;
    color:white;
    font-size: 20px;
    font-family: sans-serif;
    cursor: pointer;
  }
  #accUserName {
    font-size: 60px;
    margin:20px;
    color: white;
    font-family: sans-serif;
  }
  .accMenuBtn:hover {
    color:#2E5FA8;
  }
  #settingIcon {
    width:300px;
    height:130px;
    background: url('/public/cogs-solid.svg');
    background-position: center;
    background-size: 100px 100px; 
    background-repeat: no-repeat;
    opacity:.5;
  }
  /*/////////////////////////////////////dashboard////////////////////////////////////////*/
  .contentAligner {
    height:90vh;
    background-color:#FFFFFF;
    display: flex;
  }
  .menu {
    height:60px;
    background:black;
    display: flex;
  }
  .menuSwitcher {
    color: white;
    font: sans-serif;
    font-size: 20px;
    cursor: pointer;
    margin-top: 2px; 
  }
  .archiveBtnHolder {
    display:flex;
    height:100%;
    padding:5px;
    padding-right:10px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #FAD12C;
    transition: all .2s linear;
  }
  .myMoviesBtnHolder {
    display:flex;
    height:100%;
    padding:5px;
    padding-right:10px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #FAD12C;
    transition: all .2s linear;
  }
  .myMoviesIcon {
    height:45px;
    width:45px;
    background: url('/public/folder-open-regular.svg');
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat; 
  }
  .archiveIcon {
    height:35px;
    width:35px;
    background: url('/public/database-solid.svg');
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat; 
  }
  .searchWrap {
    width:300px;
    display:flex;
    margin-right:20px;
    margin-bottom: -15px;
  }
  .searchIcon {
    height:45px;
    width:45px;
    background: url('/public/search-solid.svg');
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat; 
  }
  .searchInput {
    height:20px;
    color:white;
    font-size:18px;
    border: none;
    border-bottom: 2px solid white;
    background: transparent;
    outline:none;
  }
  .archiveBtnHolder:hover {
    border-bottom:3px solid #AD0011;
  }
  .myMoviesBtnHolder:hover {
    border-bottom:3px solid #AD0011;
  }
  .idbArchive {
    display:none;
    height:100%;
    width:100%;
    justify-content: space-between;
    align-items:center;
  }
  
  .myMovies {
    display:flex;
    height:100%;
    width:100%;
    justify-content: space-between;
    align-items:center;
  }
  #archiveMoviesList {
    display:none;
    overflow-y: scroll !important;
    flex-wrap: wrap;
    align-content: start;
    max-height:1100px;
    padding-bottom: 30px;
    box-sizing: border-box;
    
  }
  #myMoviesList {
    display: flex;
    width:100%;
    overflow-y: scroll !important;
    flex-wrap: wrap;
    align-content: start;
    min-height:120px;
    padding-bottom: 30px;
    box-sizing: border-box;
  }
  #moviesScrollAligner {
    width:100%;
    height:80vh;
    overflow-y: scroll;
  }
  .movie {
    width:49%;
    margin: 5px;
    margin-right:2px;
    margin-bottom: 2px;
    height:100px;
    background: rgb(245,242,242);
    border-radius: 2px;
    padding: 5px;
    display:flex;
    justify-content: space-between;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
  }
  .added {
    position: absolute;
    left:0px;
    top:0px;
    background: rgba(0,0,0,.6);
    display:none;
    justify-content: center;
    align-items: center;
    height:100%;
    width:100%;
  }
  .addedText {
    font-family: sans-serif;
    color:rgba(255,255,255,.6);
    font-size: 30px;
  }
  .poster {
    height:90px;
  }
  .info {
    padding:5px;
  }
  .plusBtn {
    background: url('/public/plus-circle-solid.svg');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding:5px;
    cursor: pointer;
    background-position: center;
    height:20px;
    width:20px;
  }
  .oldies {
    width:20%;
  }
  .moviesList {
    overflow: hidden;
    width:80%;
    background-color: black;
  }
  .movieInfo {
    display:flex;
    font-family: sans-serif;
    overflow-y: scroll;
  }
  .arrows {
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: none;
  }
  .arrowRight {
    cursor:pointer;
    height:30px;
    width:30px;
    background-position: center;
    background-size: cover;
    background: url('/public/angle-right-solid.svg');
    background-repeat: no-repeat;
  }
  .arrowLeft {
    cursor:pointer;
    height:30px;
    width:30px;
    background-position: center;
    background-size: cover;   
    background: url('/public/angle-left-solid.svg');
    background-repeat: no-repeat; 
  }
  #oldiesTitle {
    font-size: 30px;
    width:100%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    color:white;
  }
  .oldies {
    overflow: hidden;
    background: black;
  }
  .oldiePoster {
    width:98%;
    margin-top: 5px;
   
  }
  .posterImg {
    width:100%;
  }
  #oldiesWrap {
    width:100%;
    display: flex;
    flex-direction: column;
    align-content: start;
    align-items: center;
    overflow-y:scroll;
    height:80vh;
  }
  @keyframes oldies {
    0%{
      transform: translateY(-2000px)
    }
    100% {
      transform: translateY(100vh);
    }
  }
  @media(min-width:1300px){
    .movies {
      margin-left: 3px;
    }
  }
  @media(min-width:1500px){
    .movie {
      margin-left: 6px;
    }
  }
  @media(min-width:1700px){
    .movie {
      margin-left: 8px;
    }
  }
  @media(max-width:950px){
    #oldies {
      display:none;
    }
    .moviesList {
      width:100%;
    }
  }
  @media(max-width:750px){
    #mobileNavBtn {
      display:block;
    }
    
    #myMoviesMenu {
      justify-content: flex-start;
    }
    #idbArchiveMenu {
      justify-content: flex-start;
    }
  
    .movie {
      width:100%;
    }
    .header {
      display:none;
    }
    .account {
      margin-top: 0px;
      height:100vh;

    }
    #dashboard {
      margin-top: 0px;
      height:100vh;
 
    }
    #settingsWrap {
      width:100%;
      flex-direction: column
    }
    .contentAligner {
      height:100vh;
      
    }
   #accInputs {
     width:100%;
     padding: 10px;
     box-sizing: border-box;
   }
   #accUserName {
     font-size: 30px;
   }
    #moviesScrollAligner{
      height:90vh;
    
    }
    #accMenu {
      margin-top: 0px;
      height:300px;
      width:100%;
    }
  }