<div id="dashboard" class="dashboard">
    <div class="contentAligner">      
        <div class="moviesList">
                <div class="menu">
                    <div id="myMoviesMenu" class="myMovies">
                        <div class="archiveBtnHolder">
                             <div class="archiveIcon"></div>
                             <div class="menuSwitcher idbArchiveBtn">Archives</div>
                        </div>           
                        <div class="deleteBtn"></div>
                        <div class="searchWrap">
                            <div class="searchIcon"></div>
                            <input type="text" id="searchInputMy" onkeydown="app.paint.searchMyMovies()" class="searchInput searchInputMy" />
                        </div>
                    </div> 
                    <div id="idbArchiveMenu" class="idbArchive">
                        <div class="myMoviesBtnHolder">
                            <div class="myMoviesIcon"></div>
                            <div id="myMoviesBtn" class="menuSwitcher myMoviesBtn">Movies</div>
                        </div>
                        <div class="addBtn"></div>
                        <div class="searchWrap">
                            <div class="searchIcon"></div>
                            <input type="text" onchange="app.paint.searchArchives()" id="searchInputArchive" class="searchInput searchInputArchive" />
                        </div>
                    </div> 
                     
                </div>
                <div id="arrows" class="arrows">
                        <div id="arrowLeft" class="arrowLeft"></div>
                        <div id="arrowRight" class="arrowRight"></div>
                </div>
                <div id="moviesScrollAligner">
                    <div id="archiveMoviesList" class="movies"></div>
                    <div id="myMoviesList" class="movies"></div>
                </div>                    
          </div>
        <div id="oldies" class="oldies">
            <div id="oldiesTitle">Oldies</div>
           <div id="oldiesWrap">
            
           </div>
        </div>
    </div>    
</div>