<div class="dashboard">
    <div class="contentAligner">      
        <div class="moviesList">
                <div class="menu">
                    <div class="myMovies">
                        <div class="archiveBtnHolder">
                             <div class="archiveIcon"></div>
                             <div class="menuSwitcher idbArchiveBtn">Archives</div>
                        </div>           
                        <div class="deleteBtn"></div>
                        <div class="searchWrap">
                            <div class="searchIcon"></div>
                            <input type="text"  class="searchInput searchInputMy" />
                        </div>
                    </div> 
                    <div class="idbArchive">
                        <div class="myMoviesBtnHolder">
                            <div class="myMoviesIcon"></div>
                            <div class="menuSwitcher myMoviesBtn">My Movies</div>
                        </div>
                        <div class="addBtn"></div>
                        <div class="searchWrap">
                            <div class="searchIcon"></div>
                            <input type="text"  class="searchInput searchInputArchive" />
                        </div>
                    </div>  
                </div>
                <div class="movies">
                    <div class="movie">              
                        <div>
                            <div class="poster"></div>
                            <div class="movieInfo"></div>
                        </div>
                        <div class="otherInfo">
                            <div class="ratings"></div>
                            <div class="trashBtn"></div>
                        </div>
                    </div>
                </div>
          </div>
        <div class="oldies"></div>
    </div>    
</div>